#Header {
  color: black;
  text-align: center;
  font-weight: bold;
  background-color: blueviolet;
}
.Home {
  text-align: center;
}
.linkcont {
  margin: 40px;
  justify-content: space-between;
}

h1 {
  margin: 0;
}
.Inc {
  font-size: 100px;
  text-align: center;
}
.Navbar{
  margin-top:0;
  display: flex;
  flex-direction: row;
  background-color: rgb(184, 124, 124);
}
.linkcont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links{
  justify-content: space-between;
}
.llc{
  margin:0px 20px;
  font-weight: bold;
}
.btc {
  margin: 0px 477px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btcc {
  margin: 9px 17px;
}
.Colsubb{
  display: flex;
  margin-top: 20%;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin: 10% 37% 10%;
}
.sub{
  justify-content: space-between;
  size: 10%;
height: 10%;
width: 10%;
}

.movie{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  justify-content: space-between;
}
.movies{
  border: 1px solid black;
  background-color: grey;
  font-size: 30px;
  width: 18%;
  justify-content: space-between;
  padding: 3px;
  margin-bottom:70px; 
  margin-top: 15px;
}
.movies img{
  height: 62%;
  width: 100%;
}
.Mylogin{
  border:1px solid black;
  background-color: rgb(161, 149, 149);
  width:34%;
  margin-top:4%;
  margin-left:34%;
  padding:12px;
}
.spa{
  color: red;
  font-weight: bold; 
  font-size: large;
}
.FormV{
  border: 1px solid black;
  background-color: rgb(161, 149, 149);
  width:34%;
  margin-top:4%;
  margin-left:34%;
  padding:12px;

}
#RK{
  margin-left: 30%;
}
.RKD{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.Recordkeep{
  display:flex;
  flex-direction: row;
  margin-top: 4%;
  justify-content: space-between;
  width: 30%;
  margin-left: 25%;
  padding:0px;
} 
.datamain{
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-left: 25%;
  margin-top: 2%;
  padding-left:44px;
  padding-right: 44px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#add{
  background-color: green;
}
#del{
  background-color: red;
  padding-right: 4px;
  justify-content: center;
  font-weight: bolder;
}
.apidatval{
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-left: 10%;
  margin-top: 2%;
  padding-left:44px;
  padding-right: 146px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.apval{
  margin-left: 4px;
  margin-right: 4px;
  width: 100%;
}
.imgc{
  width:50%;
  height: 700px;;
  background-color: black;
  margin-left: 25%;
  margin-top: 2%;
}
.imginner{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.btni button{
height: 100px;
width: 100px;
font-size: larger;
font-weight: bolder;
}
#bti1{
  margin-left: 80%;
 margin-top: -8%;}

 #bti2{
  margin-left: 10%;
  margin-top: -28%;
 }
.stt{
  border: 1px solid black;
  width: 11%;
  font-size: large;
  font-weight: bold;
  color: red;
  background-color: aqua;
  margin-left: 40%;
}

#search{
  border: 2px solid black;
  font-size: large;
  font-weight: bold;
  width: 11%;
  margin-left: 40%;
}